:root {
	--green: #849585;
}

.subtext-bold {
	color: var(--green);
}

/* VINYL COVER */
.tiny-vinyl::before {
	content: "";
	width: 50px;
	height: 50px;
	background: url("casefiles/bb.png") center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* GOAL */
.goal-bold {
	color: var(--green);
}

#goal::before, #goal::after {
	border-color: var(--green);
}

.crop-marks::before, .crop-marks::after {
	border-color: var(--green);
}

.goal-bold {
	color: var(--green);
}

#goal {
	margin-top: 0;
}


/* PROBLEM */
.discovery {
	background-color: var(--green);
}


/* SECTION SPACING */
section {
	padding: var(--padding);
	margin-top: var(--margin);
}

.moving-veggies {
	height: 8rem;
	overflow: clip;
	animation: move_veggies 5s infinite;
}

.veggies {
	aspect-ratio: 2 / 1;
	width: 30rem;
	object-fit: cover;
	overflow: clip;
	scale: 130%;
	transform: translateY(10px);
	align-self: center;
	height: 7rem;
}

/* @keyframes move_veggies {
	0% {
		transform: translateX(0%);
	}

	20% {
		transform: translateX(100%);
	}

	40% {
		transform: translateX(200%);
	}

	60% {
		transform: translateX(300%);
	}

	80% {
		transform: translateX(400%);
	}

	100% {
		transform: translateX(500%);
	}
} */


/* RESEARCH */
.prelim {
	border: solid 1px var(--green);
}

.icon {
	width: 15%;
}

.stat {
	color: var(--green);
}

.label {
	background-color: var(--green);
}

/* SLIDER */
.slides::-webkit-scrollbar-thumb {
	border: 1px solid var(--green);
}

.slider > .a-tags > a {
	img {
		border: solid 1px var(--green);
	}
}