:root {
	--green: #849585;
	--darkgreen: #1C2721;
}

.subtext-bold {
	color: var(--green);
}

/* VINYL COVER */
.tiny-vinyl::before {
	content: "";
	width: 50px;
	height: 50px;
	background: url("casefiles/bb.png") center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* CASE HERO */
.case-title {
	font-family: var(--bolded);
}


/* SEE HIFI LINK */
.see-hifi {
	background-color: var(--white);
	width: 19.5rem;
	margin-left: var(--margin);
	margin-right: var(--margin);
	padding: var(--padding);
	border: solid 1px var(--green);
	border-radius: calc(var(--border-radius)/1.2);
	margin-bottom: var(--margin);
}

.see {
	font-family: var(--bolded);
	text-align: center;
	width: 19rem;
	color: var(--green);

}


/* BB CAROUSEL */
.bb-carousel {
	margin-bottom: var(--margin);
}


/* GOAL */
.goal-bold {
	color: var(--green);
}

#goal::before, #goal::after {
	border-color: var(--green);
}

.crop-marks::before, .crop-marks::after {
	border-color: var(--green);
}

.goal-bold {
	color: var(--green);
}

#goal {
	margin-bottom: var(--margin);
	margin-top: calc(var(--margin)*1.5);
	display: flex;
	flex-direction: column;
}

#bg {
	margin-top: 0;
	padding-top: 0;
}

.jump {
	background-color: var(--green);
	border: 1px solid var(--green);
	padding: var(--padding);
	border-radius: calc(var(--border-radius)/1.2);
	width: 20.5rem;
	color: var(--white);
	font-family: var(--bolded);
	text-align: center;
}

.jump-button {
	margin-left: auto;
}


/* PROBLEM */
.discovery {
	background-color: var(--green);
}


/* SECTION SPACING */
section {
	padding: var(--padding);
	margin-top: var(--margin);
}

.moving-veggies {
	height: 8rem;
	overflow: clip;
	animation: move_veggies 5s infinite;
}

.veggies {
	aspect-ratio: 2 / 1;
	width: 30rem;
	object-fit: cover;
	overflow: clip;
	scale: 130%;
	transform: translateY(10px);
	align-self: center;
	height: 7rem;
}

/* @keyframes move_veggies {
	0% {
		transform: translateX(0%);
	}

	20% {
		transform: translateX(100%);
	}

	40% {
		transform: translateX(200%);
	}

	60% {
		transform: translateX(300%);
	}

	80% {
		transform: translateX(400%);
	}

	100% {
		transform: translateX(500%);
	}
} */


/* RESEARCH */
.prelim {
	border: solid 1px var(--green);
}

.icon {
	width: 15%;
}

.stat {
	color: var(--green);
}

.label {
	background-color: var(--green);
}


/* SLIDER */
.slides::-webkit-scrollbar-thumb {
	border: 1px solid var(--green);
}

.slider > .a-tags > a {
	img {
		border: solid 1px var(--green);
	}
}


/* STACKABLE INSIGHTS */
.card-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 19rem;
	margin: auto;
}

.card-container {
	position: relative;
	width: 20rem;
	height: 15rem;
	perspective: 1000px;
	align-items: center;
	justify-content: center;
	margin-top: 8rem;
}

.card {
	position: absolute;
	width: 14rem;
	height: 8rem;
	background: linear-gradient(to right, var(--darkgreen), var(--green));
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size);
	border-radius: var(--border-radius);
	transition: transform 0.5s ease, top 0.5s ease;
	transform: translate(-50%, calc(100px * var(--i))) rotate(40deg) skew(-20deg, -10deg);
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	z-index: calc(-1 * var(--i));
	top: 50%;
	left: 50%;
}

.card:nth-child(1) {
	/* background: linear-gradient(to right, #e2001eb3,#e2001e3b); */
	top: 0px;
}

.card:nth-child(2) {
	/* background: linear-gradient(to right, #e2001eb3, #e2001e3b); */
	top: 5px;
	opacity: 75%;
}

.card:nth-child(3) {
	/* background: linear-gradient(to right, #e2001eb3, #e2001e3b); */
	top: 10px;
	opacity: 50%;
}

.card.expanded {
	transform: rotateX(0deg) rotateY(0deg) translateY(-50px);
	position: relative;
	z-index: 10;
	top: 0;
	left: 0;
	width: 320px;
	height: 200px;
	text-align: center;
	opacity: 100%;
}

.front-text {
	color: var(--white);
	font-family: var(--bolded);
	font-size: calc(var(--font-size)/1.2);
}

.card.expanded .front-text {
	display: none;
}

.hidden-card {
	display: none;
	font-size: var(--font-size);
	margin-top: var(--margin);
	color: var(--white);
}

.expanded .hidden-card {
	display: block;
}

