/* DEPOP */
:root {
--red: #E20020;
}


/* HERO */
.case-hero {
	display: flex;
	justify-content: space-between;
	margin: var(--margin);
}

.case-description {
	width: 15rem;
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.case-title {
	font-size: calc(var(--font-size)*1.5);
	font-weight: 600;
}

.case-subtext {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.subtext-bold {
	font-weight: 500;
	color: var(--red);
}


/* TURNTABLE */
.tiny-table {
	width: 100px;
	height: 100px;
	background: #333;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 1px 2px 2px 4px var(--shadow), 0px 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: calc(var(--border-radius)/2);
	z-index: -20;
	align-self: center;
}

.tiny-platter {
	width: 90px;
	height: 90px;
	background: radial-gradient(circle, #a9a9a9 20%, #000);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.tiny-vinyl {
	width: 80px;
	height: 80px;
	background: radial-gradient(circle, #111 10%, #222 40%, black);
	border-radius: 50%;
	position: relative;
	animation: spin 3s linear infinite;
	justify-self: center;
	align-self: center;
	margin-top: calc(var(--padding)/2.8);
}

.tiny-vinyl::before {
	content: "";
	width: 50px;
	height: 50px;
	background: url("casefiles/depop.png") center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tiny-center {
	background: radial-gradient(circle, #ddd 20%, #999 60%, #666 100%);
	border-radius: 50%;
	width: 5px;
	height: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* GOAL */
section {
	padding: var(--padding);
	margin-top: var(--margin);
}

.goal {
	font-size: calc(var(--font-size)*1.1);
	font-weight: 550;
	color: var(--black);
	text-align: center;
	/* potentially consider putting print marks around it */
}

.goal-bold {
	font-size: calc(var(--font-size)*1.5);
	font-style: italic;
	font-weight: 600;
	color: var(--red);
}

/* APP BACKGROUND */
.app-bg {
	text-align: center;
}

.app-link {
	text-decoration: underline;
	color: var(--red);
}


/* ALL CONTENT */
.main-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.content-flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.bold {
	font-weight: 600;
}


/* PROGRESS BAR */
.side-bar {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--white);
	position: sticky;
	top: 10;
}

.progress {
	font-weight: 500;
	color: var(--black);
	border-radius: 50%;
	border: 1px solid var(--black);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;
	width: 2.3rem;
	height: 2.3rem;
	text-align: center;
}

.line {
	width: 2rem;
	height: 0.1rem;
	background-color: var(--black);
	align-self: center;
}
