/* DEPOP */
:root {
	--red: #E20020;
	--light-red: #8f1525;
}



/* HERO */
.subtext-bold {
	color: var(--red);
}

/* VINYL COVER */
.tiny-vinyl::before {
	content: "";
	width: 50px;
	height: 50px;
	background: url("casefiles/depop.png") center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* SECTION SPACING */
section {
	padding: var(--padding);
	margin-top: var(--margin);
}


/* GOAL */
#goal::before, #goal::after {
	border-color: var(--red);
}

.crop-marks::before, .crop-marks::after {
	border-color: var(--red);
}

.goal-bold {
	color: var(--red);
}


.app-link {
	text-decoration: underline;
	color: var(--red);
}


/* PROBLEM */
.discovery {
	background-color: var(--red);
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-shadow: inset 0 0 10px black;
	transform: rotate(3deg);
	width: 20rem;
}

.problem {
	color: var(--white);
	text-align: center;
	font-size: calc(var(--font-size)*1.3);
}

#discovery {
	padding-bottom: var(--padding);
}


/* RESEARCH */
.prelim {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: var(--border-radius);
	border: solid 1px var(--red);
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 10rem;
	padding-top: var(--padding);
}

.icon {
	width: 15%;
}

.stat {
	font-family: var(--bolded);
	font-size: calc(var(--font-size)*2);
	color: var(--red);
}

.label {
	background-color: var(--red);
	font-family: var(--bolded);
	color: var(--white);
	width: 10rem;
	text-align: center;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	padding: calc(var(--padding)/1.2);
}


/* STACKABLE INSIGHTS */
.card-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 19rem;
	margin: auto;
}

.card-container {
	position: relative;
	width: 20rem;
	height: 15rem;
	perspective: 1000px;
	align-items: center;
	justify-content: center;
	margin-top: 8rem;
}

.card {
	position: absolute;
	width: 14rem;
	height: 8rem;
	background: linear-gradient(to right, var(--red), var(--light-red));
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size);
	border-radius: var(--border-radius);
	transition: transform 0.5s ease, top 0.5s ease;
	transform: translate(-50%, calc(100px * var(--i))) rotate(40deg) skew(-20deg, -10deg);
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
	z-index: calc(-1 * var(--i));
	top: 50%;
	left: 50%;
}

.card:nth-child(1) {
	/* background: linear-gradient(to right, #e2001eb3,#e2001e3b); */
	top: 0px;
}

.card:nth-child(2) {
	/* background: linear-gradient(to right, #e2001eb3, #e2001e3b); */
	top: 5px;
	opacity: 75%;
}

.card:nth-child(3) {
	/* background: linear-gradient(to right, #e2001eb3, #e2001e3b); */
	top: 10px;
	opacity: 50%;
}

.card.expanded {
	transform: rotateX(0deg) rotateY(0deg) translateY(-50px);
	position: relative;
	z-index: 10;
	top: 0;
	left: 0;
	width: 320px;
	height: 200px;
	text-align: center;
	opacity: 100%;
}

.front-text {
	color: var(--white);
	font-family: var(--bolded);
}

.card.expanded .front-text {
	display: none;
}

.hidden-card {
	display: none;
	font-size: var(--font-size);
	margin-top: var(--margin);
	color: var(--white);
}

.expanded .hidden-card {
	display: block;
}

.center {
	text-align: center;
}


/* VIDEOS */
video {
	width: 20.5rem;
}

.pre-vid {
	aspect-ratio: 1 / 1;
	object-fit: cover;
}


/* SCROLL PROGRESS BAR */
#scroll-progress {
	position: fixed;
	top: 0;
	width: 0%;
	height: 4px;
	background: var(--red);
	z-index: 10000;
}



