/* DEPOP */
:root {
--red: #E20020;
}

/* [id] {
	scroll-margin-top: 50px;
} */


/* HERO */
.subtext-bold {
	color: var(--red);
}

/* VINYL COVER */
.tiny-vinyl::before {
	content: "";
	width: 50px;
	height: 50px;
	background: url("casefiles/depop.png") center/cover no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/* SECTION SPACING */
section {
	padding: var(--padding);
	margin-top: var(--margin);
}


/* GOAL */
#goal::before, #goal::after {
	border-color: var(--red);
}

.crop-marks::before, .crop-marks::after {
	border-color: var(--red);
}

.goal-bold {
	color: var(--red);
}


.app-link {
	text-decoration: underline;
	color: var(--red);
}





