:root {
	--gray: #6c6c6c;
}

* {
	font-weight: 350;
}

.pic {
	width: 15rem;
	margin: auto;
}

.polaroid {
	display: flex;
	flex-direction: column;
}

.about {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--margin);
}

.polaroid {
	margin-bottom: var(--margin);
}

h2, h3 {
	font-size: calc(var(--font-size)*2);
	font-family: var(--bolded);
}

.quality {
	color: var(--gray);
	font-style: italic;
}

.hyelynn {
	max-width: 20rem;
	margin: auto;
}

.about-name {
	margin-bottom: var(--padding);
}

.who {
	padding-left: var(--padding);
	margin-bottom: var(--margin);
}

.link {
	text-decoration: underline;
	cursor: pointer;
}

video {
	width: 19rem;
	margin: auto;
}

.playlists {
	object-fit: cover;
}

.album-container {
	display: flex;
	flex-direction: column;
}

.music {
	font-size: calc(var(--font-size)*1.2);
	background: var(--black);
	color: var(--white);
	padding: var(--padding);
	
}

@media (min-width: 800px) {
	.about-page {
		display: flex;
		width: 45rem;
		margin: auto;
	}

	.pic {
		width: 20rem;
	}
}