
/* HERO */
.case-hero {
	display: flex;
	justify-content: space-between;
	margin: var(--margin);
}

.case-description {
	width: 15rem;
	text-align: right;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.case-title {
	font-size: calc(var(--font-size)*1.5);
	font-weight: 600;
}

.case-subtext {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
}

.subtext-bold {
	font-family: var(--bolded);
}

.subtext-unbold {
	font-size: calc(var(--font-size)/1.2);
}


/* TURNTABLE */
.tiny-table {
	width: 7rem;
	height: 7rem;
	background: #333;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset 1px 2px 2px 4px var(--shadow), 0px 5px 15px rgba(0, 0, 0, 0.5);
	border-radius: calc(var(--border-radius)/2);
	z-index: -20;
	align-self: center;
}

.tiny-platter {
	width: 90px;
	height: 90px;
	background: radial-gradient(circle, #a9a9a9 20%, #000);
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.tiny-vinyl {
	width: 80px;
	height: 80px;
	background: radial-gradient(circle, #111 10%, #222 40%, black);
	border-radius: 50%;
	position: relative;
	animation: spin 3s linear infinite;
	justify-self: center;
	align-self: center;
	margin-top: calc(var(--padding)/2.8);
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}


/* SEE HIFI LINK */
.seemore {
	display: flex;
	height: 3rem;
	margin-bottom: calc(var(--margin)*1.5);
	justify-content: center;
	gap: 1.5rem;
}

.see {
	font-family: var(--bolded);
	text-align: center;
	width: 10.5rem;
	font-size: calc(var(--font-size)/1.2);
	padding: var(--padding);
	border-radius:  calc(var(--border-radius)/1.2);
}

.jump {
	padding: var(--padding);
	border-radius: calc(var(--border-radius)/1.2);
	width: 10.5rem;
	color: var(--white);
	font-family: var(--bolded);
	text-align: center;
	font-size: calc(var(--font-size)/1.2);
}



/* ALL CONTENT */
.main-content {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.content-flex {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.bold {
	font-family: var(--bolded);
}

.block {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
}


/* PROGRESS BAR */
.side-bar {
	display: flex;
	justify-content: space-evenly;
	background-color: var(--white);
	position: sticky;
	top: 10;
}

.progress {
	font-weight: 500;
	color: var(--black);
	border-radius: 50%;
	border: 1px solid var(--black);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-right: 0.8rem;
	padding-left: 0.8rem;
	width: 2.3rem;
	height: 2.3rem;
	text-align: center;
}

.line {
	width: 2rem;
	height: 0.1rem;
	background-color: var(--black);
	align-self: center;
}


/* APP BACKGROUND */
.subheader {
	font-size: calc(var(--font-size)*1.3);
	border: 1px solid var(--black);
	border-radius: calc(var(--border-radius)*2);
	padding: var(--padding);
	width: fit-content;
	margin: auto;
}

.app-bg {
	text-align: center;
}

.goal-bold {
	font-size: calc(var(--font-size)*1.5);
	font-style: italic;
	font-family: var(--bolded);
}

.goal {
	font-size: calc(var(--font-size)*1.1);
	font-weight: 550;
	color: var(--black);
	text-align: center;
	/* potentially consider putting print marks around it */
}

/* CROP MARKS AROUND GOAL */
/* GOAL */
#goal {
	position: relative;
	margin-left: var(--margin);
	margin-right: var(--margin);
	margin-top: calc(var(--margin)*2);
}

#goal::before, #goal::after {
	content: "";
	position: absolute;
	border-style: solid;
	width: 20px;
	height: 25px;
}

#goal::before {
	top: 0;
	left: 0;
	border-width: 1px 0 0 1px;
}

#goal::after {
	top: 0;
	right: 0;
	border-width: 1px 1px 0 0;
}

.crop-marks::before, .crop-marks::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 25px;
	border-style: solid;
}

.crop-marks::before {
	bottom: 0;
	left: 0;
	border-width: 0 0 1px 1px;
}

.crop-marks::after {
	bottom: 0;
	right: 0;
	border-width: 0 1px 1px 0;
}


/* PROBLEM */
.discovery {
	padding: var(--padding);
	border-radius: var(--border-radius);
	box-shadow: inset 0 0 10px black;
	transform: rotate(3deg);
	width: 20rem;
}

.problem {
	color: var(--white);
	text-align: center;
	font-size: calc(var(--font-size)*1.3);
}

#discovery {
	padding-bottom: var(--padding);
}

.center {
	text-align: center;
}

/* JTBD */
.jtbd {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
	border-radius: var(--border-radius);
}

.jtbd-title {
	padding-top: var(--padding);
}

.jtbd > p {
	padding-left: var(--padding);
	padding-right: var(--padding);
	padding-bottom: var(--padding);
}

/* RESEARCH */
.prelim {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: var(--border-radius);
	align-items: center;
	justify-content: center;
	gap: 2rem;
	width: 10rem;
	padding-top: var(--padding);
}

.icon {
	width: 15%;
}

.stat {
	font-family: var(--bolded);
	font-size: calc(var(--font-size)*2);
}

.label {
	font-family: var(--bolded);
	color: var(--white);
	width: 10rem;
	text-align: center;
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	padding: calc(var(--padding)/1.2);
}

/* SLIDER */
.slider {
	width: 10rem;
	text-align: center;
	overflow: hidden;
	margin: auto;
}

.slides {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

.slides::-webkit-scrollbar-thumb {
	background: var(--white);
	border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
	background: transparent;
}

.slides > .prelim {
	scroll-snap-align: start;
	flex-shrink: 0;
	transform-origin: center center;
	transform: scale(1);
	transition: transform 0.5s ease;
	position: relative;
}

.slider > .a-tags > a {
	display: inline-flex;
	width: 2rem;
	height: 2rem;
	background: var(--white);
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 0 0.5rem 0;
	position: relative;

	img {
		object-fit: cover;
		width: 100%;
		border-radius: 50%;
		padding: 0.2rem;
	}
}

.slider > a:active {
	top: 1px;
}

.slider > a:focus {
	background: white;
}

@supports (scroll-snap-type: mandatory) {
	.slider > a {
		display: none;
	}
}

.slider-flex {
	display: flex;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}


/* HIFI */
.hifi {
	display: flex;
	flex-direction: column;
}

.hifi-vid {
	width: 20rem;
}

.hifi-vid > img {
	width: 50%;
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* 800PX */
@media (min-width: 800px) {
	p {
		line-height: var(--lineheight);
	}

	.block-flex {
		gap: 2rem;
	}

	/* HERO */
	/* TURNTABLE */
	.case-hero {
		gap: 2rem;
		justify-content: center;
	}

	.tiny-table {
		width: 9rem;
		height: 9rem;
	}

	.tiny-platter {
		width: 7rem;
		height: 7rem;
	}

	.tiny-vinyl {
		width: 6.6rem;
		height: 6.6rem;
		align-items: center;
	}

	body {
		font-size: calc(var(--font-size)*1.1);
	}

	/* CASE INFO */
	.case-description {
		width: 25rem;
		gap: 1rem;
	}

	.case-title {
		font-size: calc(var(--font-size)*1.9);
	}

	.case-description > p {
		font-size: calc(var(--font-size)*1.3);
	}

	.case-subtext {
		gap: 1.5rem;
	}

	.subtext-bold {
		font-size: calc(var(--font-size)*1.2);
	}

	.subtext-unbold {
		font-size: calc(var(--font-size)*1.2);
	}

	/* JUMP LINKS */
	.seemore {
		max-width: 36rem;
		margin-left: auto;
		margin-right: auto;
		justify-content: space-between;
		gap: var(--gap);
	}


	.see, .jump {
		font-size: var(--font-size);
		padding-left: calc(var(--padding)*4.5);
		padding-right: calc(var(--padding)*4.5);
	}


	/* CAROUSEL */
	.depop-carousel > img {
		width: 100%;
	}

	.depop-carousel {
		width: 36rem;
		margin: auto;
	}


	/* GOAL */
	#bg {
		margin-top: var(--margin);
	}

	#goal {
		width: 36rem;
		margin-left: auto;
		margin-right: auto;
		margin-top: calc(var(--margin)*3);;
	}

	.goal {
		font-size: calc(var(--font-size)*1.3);
	}

	.goal-bold {
		font-size: calc(var(--font-size)*1.6);
		padding-left: calc(var(--padding)*.4);
		padding-right: calc(var(--padding)*.5);
	}

	/* JTBD */
	.jtbd {
		flex-direction: row;
		gap: calc(var(--gap)*1.5);
	}

	.jtbd-title {
		padding: calc(var(--padding)*1.5);
		padding-right: 0;
	}

	.box-line {
		height: 100%;
		width: 1px;
		border: none;
		padding: 0;
	}
	
	.jtbd > p {
		padding: calc(var(--padding)*1.5);
		padding-left: 0;
	}

	/* SECTION */
	section {
		margin-top: calc(var(--margin)*3);
		width: 36rem;
		margin-left: auto;
		margin-right: auto;
	}

	.content {
		gap: 5rem;
	}


	/* DISCOVERY */
	.discovery {
		margin: auto;
		padding-top: calc(var(--padding)*2);
		padding-bottom: calc(var(--padding)*2);
		width: 30rem;
	}

	.problem {
		font-size: calc(var(--font-size)*1.5);
	}

	

	/* SLIDER */


	/* CARD FLEX */
	.card-flex {
		flex-direction: column;
	}


	/* HIFI */
	.hifi {
		flex-direction: row;
		align-items: center;
		gap: 1rem;
	}

	.hifi-info {
		display: flex;
		flex-direction: column;
		width: 20rem;
		gap: 2rem;
	}

	.hifi-vid {
		width: 10rem;
	}

	.hifi-vid > img {
		width: 100%;
	}
}